-
  const dataMenu = [
    {
      href: "./event-full.html",
      img: "event-4",
      date: "18",
      month: "сентября",
      text: "Московский Марафон",
      location: 'Москва, Лужники',
      people: '30 000 человек',
      reserve: true
    },
  ];
