.footer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  margin-top: auto;
  height: 100vh;
  width: 100%;
  background-color: $color-black;
  overflow: hidden;

  &__inner {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__ticker {
    flex-grow: 1;
    width: 100%;
  }

  &__content {
    display: block;
    width: 100%;
    overflow: hidden;
    border: 1px solid $color-border-dark;
    border-top: none;
  }

  &__head {
    width: 100%;
    background-color: $color-black;
  }

  &__head-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .nav {
      &__inner {
        background-color: $color-black;
        border-top: 1px solid $color-border-dark;
        border-bottom: 1px solid $color-border-dark;
      }

      &__text {
        &::after {
          background-color: $color-border-dark;
        }
      }

      &__link {
        color: $color-white;
      }


      &__icon {
        border: 1px solid $color-border-dark;

        &::before,
        &::after {
          background-color: $color-white;
        }
      }

      &__dropdown {
        padding: 8px 0;
        border: 1px solid $color-border-dark;
        background-color: $color-black;
      }

      &__list-link {
        color: $color-white;
        padding: 16px 24px;
      }

      &.open {
        transform: translateY(0);
      }

      &__text:hover ~ &__dropdown,
      &__dropdown:hover {
        transform: translateY(0);
      }
    }

    .logo {

      border: 1px solid $color-border-dark;
      padding-left: 40px;
      border-left: none;

      svg {
        color: $color-white;
      }
    }
  }

  &__foot {
    margin-left: 149px;
    border-left: 1px solid $color-border-dark;
  }

  &__contact {
    padding: 44px 40px 56px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-dark;
  }

  &__address {
    max-width: 274px;
    width: 100%;
  }

  &__header {
    margin-bottom: 8px;
    color: $color-white;
    @include font-size(20px, 28px);
    font-weight: 500;
  }

  &__subheader {
    margin-bottom: 8px;
    color: $color-gray-dark;
    @include font-size(12px, 12px);
    font-weight: 500;
  }

  &__link {
    color: $color-gray-dark;
    @include font-size(12px, 16px);
    font-weight: 500;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-white;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  &__logo {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    color: $color-white;
    border-radius: 100px;
    background-color: $color-border-dark;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-main;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__end {
    padding: 12px 40px 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__about {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
  }

  &__company {
    color: $color-gray-dark;
    @include font-size(12px, 12px);
    font-weight: 500;
  }



  // Media

  @media (min-width: 1020px) {
    &__head {
      .nav__text:hover ~ .nav__dropdown,
      .nav__dropdown:hover {
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 1020px) {
    position: inherit;
    height: auto;

    &__head-wrapper {
      flex-direction: column;

      .logo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid $color-border-dark;

        svg {
          margin: 0 auto;
        }
      }
    }

    &__nav {
      width: 100%;

      .nav__inner {
        flex-direction: column;
        border-top: 0;
        padding: 24px 0;

        .nav__item {
          width: 100%;
        }

        .nav__text {
          padding: 24px 20px;
          justify-content: center;

          &:after {
            display: none;
          }
        }

        .nav__dropdown {
          transition: none;
          opacity: 0;
        }

        .nav__dropdown.open {
          position: relative;
          opacity: 1;
          transform: translateY(0);
          z-index: 1;
          transition: opacity $trans-base;
        }

        .nav__list-link {
          text-align: center;
        }
      }
    }

    &__foot {
      margin-left: 0;
      border-left: none;
    }
  }

  @media (max-width: 830px) {
    &__contact {
      flex-direction: column;
      text-align: center;
      gap: 24px;
    }

    &__end {
      padding: 12px 14px;
      flex-direction: column;
    }

    &__about {
      flex-direction: column;
      text-align: center;
    }

    &__company {
      padding-bottom: 14px;
    }
  }
}