.footer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  margin-top: auto;
  height: 100vh;
  border: 1px solid $color-border-dark;
  background-color: $color-black;

  &__inner {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: block;
    width: 100%;
    overflow-y: hidden;
    border-left: 1px solid $color-border-dark;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      border-left: none;
      padding: 21.5px 39.5px;
    }

    .nav__dropdown {
      z-index: 1;
      border: 1px solid $color-border-dark;
    }

    .nav__dropdown.open {
      position: relative;
      z-index: 200;
      opacity: 1;
      transform: translateY(0);
      border: none;
    }
  }

  &__foot {
    margin-left: 149px;
    border-left: 1px solid $color-border-dark;
  }

  &__contact {
    padding: 44px 40px 56px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-dark;
  }

  &__address {
    max-width: 274px;
    width: 100%;
  }

  &__header {
    margin-bottom: 8px;
    color: $color-white;
    @include font-size(20px, 28px);
    font-weight: 500;
  }

  &__subheader {
    margin-bottom: 8px;
    color: $color-gray-dark;
    @include font-size(12px, 12px);
    font-weight: 500;
  }

  &__link {
    color: $color-gray-dark;
    @include font-size(12px, 16px);
    font-weight: 500;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-white;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  &__logo {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    color: $color-white;
    border-radius: 100px;
    background-color: $color-border-dark;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-main;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__end {
    padding: 12px 40px 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__about {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
  }

  &__company {
    color: $color-gray-dark;
    @include font-size(12px, 12px);
    font-weight: 500;
  }


  // Media

  @media (max-width: 1020px) {
    position: inherit;
    height: auto;

    &__foot {
      margin-left: 0;
      border-left: none;
    }
  }

  @media (max-width: 830px) {

    &__head {
      flex-direction: column;

      .logo {
        width: 100%;
        border-right: none;
        border-bottom: none;

        svg {
          margin: 0 auto;
        }
      }

      .nav {
        width: 100%;

        &__inner {
          flex-direction: column;
        }
      }
    }

    &__contact {
      flex-direction: column;
      text-align: center;
      gap: 24px;
    }

    &__end {
      flex-direction: column;
    }

    &__about {
      flex-direction: column;
    }

    &__company {
      padding-bottom: 14px;
    }
  }
}
