.header {
  // margin-bottom: 77px;
  background-color: $color-white;
  border: 1px solid $color-border;
  width: 100%;
  position: fixed;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
