.news {
  padding: 96px 0;
  background-color: $color-white;

  &__inner {
    margin: 0 40px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__header {
    font-family: 'DrukCyr';
    @include font-size(72px, 72px);
    font-weight: 500;
    text-transform: uppercase;
    order: 1;

  }

  &__btn {
    order: 2;
    padding: 24px 40px;
    border: 1px solid $color-border;

    &:hover {
      border: 1px solid $color-border;
    }
  }

  &__wrapper {
    order: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid $color-border;
  }

  &__card {
    position: relative;
    color: $color-white;
    text-decoration: none;
    overflow: hidden;

    &:hover {
      color: $color-white;
    }
  }

  &__picture {
    position: relative;
    transition: transform $trans-long;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__card:hover &__picture {
    transform: scale(1.2);
  }

  &__content {
    padding: 24px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__date {
    position: relative;
    @include font-size(12px, 12px);
    font-weight: 500;
    z-index: 2;
  }

  &__text {
    position: relative;
    @include font-size(14px, 18px);
    font-weight: 500;
    z-index: 2;
  }

  &__subheader {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    @include font-size(32px, 32px);
    font-weight: 700;
    z-index: 2;
  }

  &__group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    padding: 24px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: 50%;
    gap: 12px;
    color: $color-black;
    text-decoration: none;
    z-index: 2;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-white;
    }

    &:active {
      opacity: 0.7;
    }

    &:first-child {
      border-bottom: 1px solid $color-border;
    }

    &:after {
      content: '';
      position: absolute; bottom: 0; left: 0;
      width: 100%;
      height: 0;
      background: $color-main;
      transition: height $trans-base;
      z-index: 1;
    }

    &:hover:after {
      height: 100%;
    }
  }

  // Media

  @media (max-width: 1130px) {
    padding: 64px 0;

    &__inner {
      margin: 0 16px;
    }

    &__header {
      margin-top: 0;
      margin-bottom: 24px;
    }

    &__btn {
      order: 3;
    }

    &__wrapper {
      margin-bottom: 24px;
      order: 2;
      display: block;
      width: 100%;
      border: none;
    }

    &__card:first-child {
      display: none;
    }

    &__group {
      display: none;
    }

    &__card:hover &__picture {
      transform: scale(1);
    }
  }
}