.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100 * var(--vh, 1vh));
  box-sizing: border-box;
  position: relative;



  &__core {
    width: 100%;
    flex: 0 0 auto;
  }
}

html.open {
  overflow: hidden;
}