mixin map-section()

  section.map
    .map__inner
      .map__content
        h3.map__header Под нашим управлением
        .map__foot
          .map__info
            .map__subheader 377 га
            .map__text земли
          .map__info
            .map__subheader 2 000 000 м²
            .map__text жилой и коммерческой недвижимости