mixin powers-section()

  section.powers
    .powers__inner
      h2.powers__header Нас выбирают, потому что мы автоматизируем все процессы и предлагаем комплексные решения
      .powers__item
        .powers__content
          .powers__count 01
          .powers__info
            h3.powers__subheader Клиенты «Реки ФМ» следят за расходами онлайн
            p.powers__text Для этого у нас есть программа Oddin. Там мы публикуем отчёты о проделанной работе, например если заменили лампочку или устранили аварию. Всё с фото, датами и чеками.
        .powers__img
          +img('content', 'woman', 'jpg')

      .powers__item
        .powers__content
          .powers__count 02
          .powers__info
            h3.powers__subheader Налаживаем управление и эксплуатацию зданием с нуля
            p.powers__text Оснащаем техникой, например системой дымоудаления или сигнализацией. Нанимаем персонал в охрану, клининг и администрацию.
        .powers__img
          +img('content', 'office', 'jpg')

      .powers__item
        .powers__content
          .powers__count 03
          .powers__info
            h3.powers__subheader Наша команда — эксперты в управлении недвижимостью
            p.powers__text Они знают, как организовать процессы, чтобы доход клиента был максимальным, а участие в администрировании — минимальным.
        .powers__slider
          .swiper-wrapper.powers__wrapper
            .swiper-slide.powers__slide
              .powers__picture
                  +img('content', 'person_1', 'jpg')
              .powers__person
                .powers__post генеральный директор
                .powers__name Мартынов Алексей Сергеевич
                .powers__about Опыт работы в сфере недвижимости, в том числе международной с 2003 года
                .powers__contact
                  .powers__number +7 (976) 763-21-65
                  .powers__email a.martynov@gmail.com

            .swiper-slide.powers__slide
              .powers__picture
                  +img('content', 'person_2', 'jpg')
              .powers__person
                .powers__post антикризисный управляющий
                .powers__name Краснова Полина Дмитриевна
                .powers__about Опыт работы в сфере недвижимости, в том числе международной с 2007 года
                .powers__contact
                  .powers__number +7 (959) 504-43-72
                  .powers__email p.krasnova@gmail.com

            .swiper-slide.powers__slide
              .powers__picture
                  +img('content', 'person_3', 'jpg')
              .powers__person
                .powers__post коммерческий директор
                .powers__name Островский Сергей Юрьевич
                .powers__about Опыт работы в сфере недвижимости, в том числе международной с 2005 года
                .powers__contact
                  .powers__number +7 (934) 238-54-04
                  .powers__email  s.ostrovsky@gmail.com
          .powers__buttons
            .powers__btn.powers__btn--prev
              +icn('icn-arrow', 20, 28).powers__icn
            .powers__btn.powers__btn--next
              +icn('icn-arrow', 20, 28).powers__icn