mixin powers-section()

  section.powers
    .powers__inner
      h2.powers__header Нас выбирают, потому что мы автоматизируем все процессы и предлагаем комплексные решения
    .powers__items
      .powers__item
        .powers__left
          .powers__count 01
          .powers__content
            h3.powers__subheader Клиенты «Реки ФМ» следят за расходами онлайн
            p.powers__text Для этого у нас есть программа Oddin. Там мы публикуем отчёты о проделанной работе, например если заменили лампочку или устранили аварию. Всё с фото, датами и чеками.
        .powers__aside
          //- +img('content', 'hero-mask', 'png').powers__img