mixin tagline-section()

  section.tagline
    .tagline__inner
      .tagline__content
        h1.tagline__header Комплексный подход к управлению коммерческой недвижимостью
        h3.tagline__subheader Формируем прозрачные взаимоотношения между клиентом и управляющей компанией
      .tagline__hero
        +img('content', 'hero', 'jpg')
      .tagline__hero-mask
        +img('content', 'hero-mask', 'png')