.ticker {
  margin: 84px 0;
  background-color: $color-black;
  border: none;
  display: block;
  position: relative;
  cursor: none !important;
  z-index: 3;

  &:hover .cursor__wrapper {
    opacity: 1;
    transform: scale(1);
  }

  &__inner {
    position: relative;
    // overflow: hidden;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100vw;
    border: 2px solid #333;
    height: 200px;

  }

  &__item {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 40px;
  }

  &__text {
    display: inline-block;
    font-family: "DrukCyr";
    @include font-size(72px, 72px);
    font-weight: 500;
    text-transform: uppercase;

    &--color-white {
      color: $color-white;

      &::after {
        display: inline-block;
        content: "•";
        padding-left: 40px;
      }
    }

    &--color-black {
      color: $color-black;
      text-shadow: 0px 1px 0 rgb(255,255,255),0px -1px 0 rgb(255,255,255),1px 0px 0 rgb(255,255,255),-1px 0px 0 rgb(255,255,255),1px 1px 0 rgb(255,255,255),1px -1px 0 rgb(255,255,255),-1px 1px 0 rgb(255,255,255),-1px -1px 0 rgb(255,255,255);
    }
  }
}