mixin footer(footerMods)
  footer.footer
    .footer__inner
      .ticker
        .cursor
          .cursor__wrapper
            .cursor__text заказать обратный звонок
        .ticker__inner
          .ticker__wrapper
            .ticker__item
              .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности
              .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности
          //- .ticker__wrapper
          //-   .ticker__item.ticker-right
          //-     .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности
          //-     .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности
          //- .ticker__wrapper
          //-   .ticker__item.ticker-left
          //-     .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности
          //-     .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности

      .footer__content
        .footer__head
          .logo.logo--color-white
            +icn('icn-logo', 70, 24)
          .footer__nav
            a(href="#").nav.nav--color-white
              span управление недвижимостью
              .nav__icon
            a(href="#").nav.nav--color-white
              span продажа и аренда
            a(href="#").nav.nav--color-white
              span консалтинг
              .nav__icon
          a(href="#").nav.nav--color-white новости
        .footer__foot
          .footer__contact
            .footer__address
              .footer__subheader приезжайте в наш офис
              .footer__header г. Москва, ул. Ломоносова, 23, офис 56
              a(href="#").footer__link смотреть на карте
            .footer__tel
              .footer__subheader звоните
              a(href="#" data-offer="8 (800) 200-76-43").footer__offer 8 (800) 200-76-43
            .footer__mail
              .footer__subheader пишите
              a(href="#" data-offer="info@site.com").footer__offer info@site.com
            .footer__fb
              .footer__subheader следите за нами
              .footer__logos
                a(href="#").footer__logo
                  +icn('icn-tg', 16, 16)
                a(href="#").footer__logo
                  +icn('icn-fb', 16, 16)
          .footer__end
            .footer__about
              .footer__company ООО «Альфа-Групп» — управляем недвижимостью с 2013 года
              a(href="#").footer__link политика конфиденциальности
            .footer__company сайт сделан в netcats