mixin footer(footerMods)
  footer.footer
    .footer__inner
      .footer__ticker
        .ticker.modal__open
          .cursor
            .cursor__wrapper
              .cursor__text заказать обратный звонок
          .ticker__inner
            .ticker__wrapper#wrapper_1
              .ticker__item#ticker_1
                .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности
                .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности
            .ticker__wrapper#wrapper_2
              .ticker__item#ticker_2
                .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности
                .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности
            .ticker__wrapper#wrapper_3
              .ticker__item#ticker_3
                .ticker__text.ticker__text--color-black Закажите обратный звонок, чтобы обсудить подробности
                .ticker__text.ticker__text--color-white Закажите обратный звонок, чтобы обсудить подробности

      .footer__content
        .footer__head
          .footer__head-wrapper
            .logo
              +icn('icn-logo', 70, 23)
            .nav.footer__nav
              .nav__inner
                .nav__item.menu__item
                  .nav__text
                    a(href="#").nav__link управление недвижимостью
                    .nav__icon
                  ul.nav__dropdown
                    li.nav__list
                      a(href="#").nav__list-link технический аудит недвижимости
                    li.nav__list
                      a(href="#").nav__list-link эксплуатация и техническое обслуживание недвижимости
                    li.nav__list
                      a(href="#").nav__list-link пожарная безопасность
                    li.nav__list
                      a(href="#").nav__list-link управление арендными отношениями
                .nav__item
                  .nav__text
                    a(href="#").nav__link продажа и аренда
                .nav__item.menu__item
                  .nav__text
                    a(href="#").nav__link консалтинг
                    .nav__icon
                  ul.nav__dropdown
                    li.nav__list
                      a(href="#").nav__list-link бухгалтерские и кадровые услуги
                    li.nav__list
                      a(href="#").nav__list-link юридическое сопровождение
                    li.nav__list
                      a(href="#").nav__list-link производственный контроль


        .footer__foot
          .footer__contact
            .footer__address
              .footer__subheader приезжайте в наш офис
              .footer__header г. Москва, ул. Ломоносова, 23, офис 56
              a(href="#").footer__link смотреть на карте
            .contact
              .contact__name звоните
              a(href="#" data-offer="8 (800) 200-76-43").contact__offer 8 (800) 200-76-43
            .contact
              .contact__name пишите
              a(href="#" data-offer="info@site.com").contact__offer info@site.com
            .footer__fb
              .footer__subheader следите за нами
              .footer__logos
                a(href="#").footer__logo
                  +icn('icn-tg', 16, 16)
                a(href="#").footer__logo
                  +icn('icn-fb', 16, 16)
          .footer__end
            .footer__about
              .footer__company ООО «Альфа-Групп» — управляем недвижимостью с 2013 года
              a(href="#").footer__link политика конфиденциальности
            .footer__company сайт сделан в netcats