mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .header__inner
      .logo
        +icn('icn-logo', 70, 24)
      .header__nav
        a(href="#").nav
          span управление недвижимостью
          .nav__icon
        a(href="#").nav
          span продажа и аренда
        a(href="#").nav
          span консалтинг
          .nav__icon
      button.btn
        .btn__text
          span связаться с нами
          +icn('icn-arrow', 16, 16).btn__arrow