mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .header__inner
      .header__logo
        +icn('icn-logo', 70, 24)
      .header__nav
        .header__nav-item
          span управление недвижимостью
          .header__icon
        .header__nav-item
          span продажа и аренда
        .header__nav-item
          span консалтинг
          .header__icon
      button.header__link
        span связаться с нами
        +icn('icn-arrow', 16, 16).header__arrow