extends ../components/base/layout

block variables
  - const title = "template"
  - const hasHeader = true
  - const hasFooter = true
  - const pageMods = ""
  - const headerMods = ""
  - const footerMods = ""
  - const currentUrl = "index.html" //- индекс активного пункта меню

block main
  h1 Hello World, and let's start to project with Dzen.
