extends ../components/base/layout

block variables
  - const title = "Reka"
  - const hasHeader = true
  - const hasFooter = true
  - const pageMods = ""
  - const headerMods = ""
  - const footerMods = ""
  - const currentUrl = "index.html" //- индекс активного пункта меню

block main
  +tagline-section()
