@font-face
{
  font-family: "PTRootUI";
  src: url("../../fonts/PTRootUI/PTRootUI-Medium.woff2") format("woff2"), url("../fonts/PTRootUI/PTRootUI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face
{
  font-family: "PTRootUI";
  src: url("../../fonts/PTRootUI/PTRootUI-Bold.woff2") format("woff2"), url("../fonts/PTRootUI/PTRootUI-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face
{
  font-family: "DrukCyr";
  src: url("../../fonts/DrukCyr/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/DrukCyr/DrukCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}