.logo {
  display: block;
  padding: 21.5px 39px;
  border: 1px solid $color-border;

  svg {
    display: block;
    width: auto;
    height: 100%;
    color: $color-black;
  }

  &--color-white {
    border: 1px solid $color-border-dark;

    svg {
      color: $color-white;
    }
  }
}